{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row">
        <div class="login-wraper">
            <div class="hidden-xs">
                <img src="images/login.jpg" alt="">
            </div>
            <div class="banner-text hidden-xs">
                <div class="line"></div>
                <div class="b-text">
                    <span class="color-active">Mot de passe oublié<br> </span> 
                </div>
            </div>
            <div class="login-window">
              
                <div class="l-form">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="sample@gmail.com">
                        </div>
                       
                      
                        <div class="row">
                            <div
                                    class="col-lg-7"><button type="submit" name="submit" class="btn btn-cv1">Demander un nouveau mot de passe
                                </button></div>
                            
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
